tp1.dtd

<!ELEMENT bourse (societe+)>
<!ELEMENT societe (codeSociete?, nomSociete?, dateIntroduction?, cotations?)>
<!ATTLIST societe 
    type (banque | assurance) "banque">
<!ELEMENT codeSociete (#PCDATA)>
<!ELEMENT nomSociete (#PCDATA)>
<!ELEMENT dateIntroduction (#PCDATA)>
<!ELEMENT cotations (cotation+)>
<!ELEMENT cotation EMPTY>
<!ATTLIST cotation 
    num NMTOKEN #REQUIRED
    dateCotation CDATA #REQUIRED
    valeurAction NMTOKEN #REQUIRED>